@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: montserrat, arial, verdana;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#__next {
  flex: 1;
  display: flex;
  align-items: center;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home .graphic {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#322765, #d33484, #ffaf5c);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.home>*:not(.graphic) {
  position: relative;
  z-index: 5;
}

.home .flyer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home .flyer .refugio {
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 1rem;
}

.home .flyer .infos {
  width: 80%;
  height: 80%;
  max-width: 680px;
  max-height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .formulario {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .formulario form {
  width: 450px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.home .formulario form fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  position: relative;
}

.home .formulario form fieldset:not(:first-of-type) {
  display: none;
}

.home .formulario form input,
.home .formulario form select,
.home .formulario form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}

.home .formulario form .action-button {
  width: 100%;
  background: #24115b;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  margin: 10px 0;
  text-decoration: none;
  font-size: 14px;
}

.home .formulario form .action-button:hover,
.home .formulario form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #24115b;
}

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
}

#progressbar li:first-child:after {
  content: none;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #24115b;
  color: white;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.loading {
  border-top: 4px solid #f7a450;
  border-radius: 500%;
  width: 4rem;
  height: 4rem;
  margin-block: 5rem;
  margin-inline: auto;
  transform: rotate('deg180');
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

.p-dropdown .p-dropdown-label.p-placeholder,
.p-dropdown .p-dropdown-label.p-inputtext {
  text-align: left;
  font-size: small;
  font-family: montserrat, arial, verdana;
}